.container {
  min-height: 200ch;
  padding: 0 0.0rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 200ch;
  color: #8c8c8c;
}

.main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  width: 100%;
  height: 350px; 
  padding-top: 0mm;
  align-items: center; 
  display: flex;
  justify-content: center;
  background-color:white;
}

.headshow {
  width: 100%; 
  height: 200px;
  color: black;

}
.h1 {
 padding-left: 0px;
 font-size: 50px;
 color: white;
 font-family: Georgia, 'Times New Roman', Times, serif;
 letter-spacing: 1.8px;
}

.tab {
   padding-right: 0px;
   color: white;
   position: relative;

}
.div {
  width: 100%;
  height: 350px;
  align-items: center; 
  display: flex;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: 50%;
  background-position-y: 50%;
  background-image: url("https://lh3.googleusercontent.com/ZDAaRWI8cUASAtmdgMdvni7Fok-c7CyWyIpS-ufsLeFugmkN_X5QclCouECORjQYWXNaupVwBmzm3rvaXiHtLW_PSY-fot2xDpiUh4DfZQf05HnZAL4OVrGWvsTdG3oukuBvbyP_kIBAqkpqAWmNbc0D33xG0-l9i0q5Z8HC4E-ouqaEDqLwTUv1Ur4n-Py4bfryclOFwtmNVh7C1CCRsQBYTUJi7bkyr0c7IZ24dNASAHoPJQMotnwLwDEga9aU1RMSk4TzpetuQ3qU_GdfTDMBnCmHyDRdoy5PH4a1C9HTzk6yg5tpOOQKGSs4JXb3Kv1oE-dRY0ip4liIfzbsT5iAgkYU6Sd1F-nYNPuD337EruyJSC00_RN8TgjniGhS8v7mczIlsjtQ6bypVcwPQSCUvgREF0zk0v9p7kg7_cCzSLVzJHfe76IvGuTJjJcAJtuUvYa22hbASIbYQ8hMP1IJmP51xWEt0GAawX1bjwiEZKg525tOuaR0ovD6PXuHbNrv6Wlp6PSTt0o8v9plVd2yoaZ8DKD70LNFvaXsufAynpB4TQs1Edg_9-Zy0LTdI4x8tn5_LaO1SYYAJsVu-BB5E8AV6yourg3spSPrm4GF-9fH4LxwY2IgG2KTYDVRgzZRQUgLw4f2-M9faJvvcAxW8KhHUNIIM1WE8yyGEBT1Yi3SAIXZBES9wigm0LNbOBtSqCVXHLJZmWOxC25zZ2E=w1640-h468-no?authuser=0")
  
}

.divA {
  width: 100%;
  height: 50px;
  padding-bottom: 0mm;
  align-items: center; 
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
 
}

.divB {
  width: 100%;
  height: 100%;
  padding-bottom: 0mm;
  align-items: center; 
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  position: fixed;
 
}

.showtable {
  width: 50%;
  height: 100%;  
  align-items: center;
  background-color: black;
 
 
}



.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;  
  text-decoration: none;
  border: 1px solid black;
  color: #8c8c8c;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  width: 45%;
}

.text { 
    height: 50px;
    font-size: 15px;
    color: white;
    padding-right: 0mm;  
 
}

.search{
  color: #8c8c8c;
  shape-rendering: "round";
  position: center;
  width: 500px;
  height: 0px;
  padding-bottom: 2px;
 
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }

.table{  
  width: 80%;  
  padding-left: 10px;
  padding-right: 10px;
  background-color: black;
 
  }
}
