.container {
  min-height: 200ch;
  padding: 0 0.0rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 200ch;
  color: #8c8c8c;
}

.main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  width: 100%;
  height: 350px; 
  align-items: center; 
  display: flex;
  justify-content: center;
  background-color: bisque;
}

.headershow {
  width: 100%;
  height: 350px; 
  color: #8c8c8c;

}


.footer {
  width: 100%;
  height: 200px; 
  align-items: center; 
  display: flex;
  justify-content: center;
  background-color: black;
  position: fixed;
}

.div {
  width: 100%;
  height: 350px;
  align-items: center; 
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("https://lh3.googleusercontent.com/OKKSpMOh6Atma0fQqxdnRGkr9lJY0cdYq8XBSMHS8zYhPiRifS7TXVvvrBxepGpBm4QTswykwkFbRFsRQqh1YfoK_i9e3N_FdylPn5v6rLV44_RezW6cUMgUYcskF2chUo1w2UI7mKm7KmFvFuBo-g_D9pOO52-NCBNUt0037bUG9Tga54M3xkVvygdhkbQl9ULazkH5WtTJVbcvkyr3vhG58EdAXlnKfHGp-Yq2axzBYJHfKP0kG5-dcKvYQEU0y8pJsG7937mdbwSpAJTJtKbpas6CucHEPzKvXABRvnMbQxbiMRCqJy3IHDCkHd78CZRmz1v5pReZ5r5nU9sSxienN_rBC87eX6bY-YT1RcaM17-lOkN1tRAFffUD5NcO6ERvMyO_cLemLCOUyDVTxsTnLIlKhHLIei8_HVP71FCTflzdGxi-XUo0yHsDhIyFRjdpJrDR9kMDKjDBccLEQMmJCZZLLsLgiNdrwq2DfAdHGVmBFax1UGZ7XcwPn-SQt3fVtw-UpdsXwlhg0adwawRIuXbWEJuBFj5EVNH1mSmtCs1V8JcbdYMkb2YHb2eaqHGG3ouRcMJwxU9cDAhT76Q9sgbfPrWBXE2mH4MQYRd4dznbL4ggnSrNYuWjbhQlYta4KsGtitGqCgJhmDQZUL03th7Yz5kt4A94argb6JSq-fg2wjnYL7KjHrjukYMexsLcQ90ypR5kzGEbVMBykM0=w1543-h414-no?authuser=1")
}


.diva {
 width: 15%;
  height: 200px; 
  align-items: center; 
  display: flex;
  justify-content: center;
  background-color: black;
  position: fixed;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: #8c8c8c;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  width: 45%;
}

.search{
  color: #8c8c8c;
  shape-rendering: "round";
  position: center;
  width: 500px;
  height: 0px;
  padding-bottom: 2px;
 
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }

.table{  
  width: 100%;
  margin: 20px auto;
  border-left: 5px ;
  background-color: black;
 
  }
}
