.container {
  min-height: 200ch;
  padding: 0 0.0rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 200ch;
  color: #8c8c8c;
}

.login {  
 
  width: 100%; 
  height: 100%;
  padding-left:600px;
  padding-right:600px;
  padding-top:300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
 
}
.main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  width: 100%;
  height: 350px; 
  padding-top: 0mm;
  align-items: center; 
  display: flex;
  justify-content: center;
  background-color:white;
}

.headshow {
  width: 100%;
  height: 50px;  
  align-items: center;
  background-color:black; 

}
.h1 {
 padding-left: 0px;
 font-size: 50px;
 color: white;
 font-family: Georgia, 'Times New Roman', Times, serif;
 letter-spacing: 1.8px;
}

.tab {
   padding-right: 0px;
   color: white;
   position: relative;

}
.div {
  width: 100%;
  height: 350px;
  align-items: center; 
  display: flex;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: 50%;
  background-position-y: 50%;
  background-image: url("https://lh3.googleusercontent.com/0DEp7gZqfKj_OjjVPWKsCzT0swekwVSwQJPU_7_-aZEChNeCT-7_ZQCJ0w4oz0-ahO6xknu0GM-Asc079yEw8UA9TGY-wa_2-ViX2SCcp3_aaRefIYafDSQ_bB7IDK_iB_5vQtujQkSMuJaE0c93iPWRjEiV7ItuIufJzAtBYRAoZQoXDgrIx-HAfVp7eDn4W2hz-SqR7VqpYDjLCa8ijetGs1ScRdWTkOHXsy2Hs4sxCLukjyBh4eMdLctPwCBm5Yu2TgKoKvy-7cgTOAX0iCN2sCxIXvEbL1hsCk-yYCpy-FkHk8JtG45vi85Bqc8viLyLoekF6W0bz_cp5abo23SGqodEvPYj972E1WM0DWaAchu-GGNFqUejvPxZkbCWZfVvQh6oVEQb29fIBN6vk5_ffN9jWKTHzsazqABCblXn4n8QLtQBtZCBKtwFCVSFLXh4YxyHsih4wYGRzBfSDUmJHG8O6JS8XNL6fW1a9JR67pxE6Fj20G4u_FcCqr8r9-HPp6OyHuzQqhjHwmhqo36Oxv93NMz97nNG98OlCznmkaKAKqpWDqv4JOM1iR2msg1LTl7OLXWaPmC08C7B5TZR8Ug86jZxBRQkW6-0iIZ0mgflRu3j86wWiY4GT2XzjrauifWP3Vr5-LtyLhSj250OQkjCIFmEjq-vPSA2gan-8zAV_sV2HElOsGK_p1KtlAjj8i77oTEfUsgtk9oM5o8=w1640-h468-no?authuser=0")
  
}  


.divA {
  width: 100%;
  height: 50px;
  padding-bottom: 0mm;
  align-items: center; 
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  position: relative;
  text-align: justify;
  text-justify: inter-word;
}

.divB {
  width: 100%;
  height: 100%;
  padding: 0mm;
  align-items: center; 
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:pink;
  position: fixed;
 
}

.divC {
  width: 100%;
  height: 150px;
  padding-top: 60px;
  padding-bottom: 20px;  
  align-items: center;
  /* background-color:white; */
  position: fixed;
  background-image: url("https://lh3.googleusercontent.com/0DEp7gZqfKj_OjjVPWKsCzT0swekwVSwQJPU_7_-aZEChNeCT-7_ZQCJ0w4oz0-ahO6xknu0GM-Asc079yEw8UA9TGY-wa_2-ViX2SCcp3_aaRefIYafDSQ_bB7IDK_iB_5vQtujQkSMuJaE0c93iPWRjEiV7ItuIufJzAtBYRAoZQoXDgrIx-HAfVp7eDn4W2hz-SqR7VqpYDjLCa8ijetGs1ScRdWTkOHXsy2Hs4sxCLukjyBh4eMdLctPwCBm5Yu2TgKoKvy-7cgTOAX0iCN2sCxIXvEbL1hsCk-yYCpy-FkHk8JtG45vi85Bqc8viLyLoekF6W0bz_cp5abo23SGqodEvPYj972E1WM0DWaAchu-GGNFqUejvPxZkbCWZfVvQh6oVEQb29fIBN6vk5_ffN9jWKTHzsazqABCblXn4n8QLtQBtZCBKtwFCVSFLXh4YxyHsih4wYGRzBfSDUmJHG8O6JS8XNL6fW1a9JR67pxE6Fj20G4u_FcCqr8r9-HPp6OyHuzQqhjHwmhqo36Oxv93NMz97nNG98OlCznmkaKAKqpWDqv4JOM1iR2msg1LTl7OLXWaPmC08C7B5TZR8Ug86jZxBRQkW6-0iIZ0mgflRu3j86wWiY4GT2XzjrauifWP3Vr5-LtyLhSj250OQkjCIFmEjq-vPSA2gan-8zAV_sV2HElOsGK_p1KtlAjj8i77oTEfUsgtk9oM5o8=w1640-h468-no?authuser=0")
 
}


.divD {
  width: 7%;
  height: 100px; 
  /* justify-content: center;
  align-items: center; */
  /* background-color:black; */
  text-align: justify;
  text-justify: inter-word;
  padding-right: 50px ;
  color: white;
  border-color: black;
  padding-bottom: 325px;
 
 
}

.divE {
  width: 100%;
  height: 100%;
  /* align-items: center;  */
  /* display: flex;
  justify-content: center;
  align-items: center; */
  background-repeat: no-repeat;
  background-size: cover;
  /* background-position-x: 50%;
  background-position-y: 50%; */
  background-image: url("https://lh3.googleusercontent.com/0DEp7gZqfKj_OjjVPWKsCzT0swekwVSwQJPU_7_-aZEChNeCT-7_ZQCJ0w4oz0-ahO6xknu0GM-Asc079yEw8UA9TGY-wa_2-ViX2SCcp3_aaRefIYafDSQ_bB7IDK_iB_5vQtujQkSMuJaE0c93iPWRjEiV7ItuIufJzAtBYRAoZQoXDgrIx-HAfVp7eDn4W2hz-SqR7VqpYDjLCa8ijetGs1ScRdWTkOHXsy2Hs4sxCLukjyBh4eMdLctPwCBm5Yu2TgKoKvy-7cgTOAX0iCN2sCxIXvEbL1hsCk-yYCpy-FkHk8JtG45vi85Bqc8viLyLoekF6W0bz_cp5abo23SGqodEvPYj972E1WM0DWaAchu-GGNFqUejvPxZkbCWZfVvQh6oVEQb29fIBN6vk5_ffN9jWKTHzsazqABCblXn4n8QLtQBtZCBKtwFCVSFLXh4YxyHsih4wYGRzBfSDUmJHG8O6JS8XNL6fW1a9JR67pxE6Fj20G4u_FcCqr8r9-HPp6OyHuzQqhjHwmhqo36Oxv93NMz97nNG98OlCznmkaKAKqpWDqv4JOM1iR2msg1LTl7OLXWaPmC08C7B5TZR8Ug86jZxBRQkW6-0iIZ0mgflRu3j86wWiY4GT2XzjrauifWP3Vr5-LtyLhSj250OQkjCIFmEjq-vPSA2gan-8zAV_sV2HElOsGK_p1KtlAjj8i77oTEfUsgtk9oM5o8=w1640-h468-no?authuser=0")
  
}  

.uploadbotton {
 color: white;
 background-color: black;
 border-color: black; 
 
 
}


.list {
 border-color: white ;
 white: 700px;
 

 
}
.showtable {
  width: 100%;
  height: 150px;  
  align-items: center;
  padding-top: 80px;
  padding-left: 30px;
  padding-right: 30px;
  background-color:white; 
 
}

.button {
  width: 95px;
  /* padding-top: 20px; */
  /* padding-bottom: 5px;   */
  align-items: center;
  background-color:white; 
  font-size: 15px;  
  color:black;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;  
  text-decoration: none;
  border: 1px solid black;
  color: #8c8c8c;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  width: 45%;
}

.text { 
    height: 50px;
    font-size: 15px;
    color: white;    
    text-align: justify;
    text-justify: inter-word;
    padding-top: 0px;
    text-decoration-line: underline;    
 
}

.search{
  color: #8c8c8c;
  position: center;
  width: 500px;
  height: 0px;
  padding-bottom: 2px;
 
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }

.table{  
  width: 80%;  
  padding-left: 10px;
  padding-right: 10px;
  background-color: black;
 
  }
}
